/* Main Body */
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

body,
html {
  padding: 0;
  margin: 0;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-family: 'Geo', sans-serif;
}

.button img {
  object-fit: contain;
  border-radius: 5px 5px 5px 5px;
  width: 75px;
  height: 75px;
  margin: 10px;
  background: #000000;
  border: solid 2px #c0c0c0;
  transition: all .5s ease-in-out;
}

.button img:hover {
  transform: translate(0px, -7px);
  border-radius: 50px;
  transition: all .5s ease-in-out;
}