@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

/* The navigation bar */
.navbar {
  background-color: #070707;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 34%;
  /* Position the navbar at the top of the page */
  left: 30.2%;
  width: 40%;
  /* Full width */
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0.50px;
  color: #464646 !important;
  text-align: center;
}

/* Links inside the navbar */
.navbar a {
  float: fixed;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Geo', sans-serif;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #000000;
  outline-color: #c0c0c0;
  outline-width: 1px;
  border-style: outset;
  color: #c0c0c0;
  font-family: 'Geo', sans-serif;
  font-size: x-large;
}

.navbar img {
  width: 30%;
  height: 250px;
  text-align: center;
  display: block;
}