@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 1vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3%;
}

.container h1 {
  font-size: x-large;
  font-family: 'Geo', sans-serif;
}

span {
  color: #d0d0d0;
  font-family: 'Geo', sans-serif;
}